.button {
    margin-left: 25%;
    margin-right: 25%;
    background-color: hsl(322, 65%, 70%);
    padding: 10px;
    border: none;
    border-radius: 10px;
    width: 50%;
    text-align: center;
  }
  
  .button:hover {
    background-color: hsl(322, 65%, 60%);
  }
  
  .button:active {
    background-color: hsl(322, 65%, 50%);
  }
  