html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: hsl(198, 100%, 75%);
  background-image: url("../public/background.jpg");
  font-family: "Nerko One", cursive;
  font-size: large;
}
